* {padding: 0px;margin: 0px;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display:block;
}
body, div, label, ul, li, cite, h1, h2, h3, h4, p, a ,html{	outline: none;font-weight:normal;padding:0;margin:0;}
html {width: 100%;}
.clear {clear: both;}
img {border: none}
a {color: #fff;text-decoration: none;font-weight:normal;}
a:hover {	color: #fff;}
body {		font-family: sans-serif;	font-stretch: normal;	font-style: normal;	font-variant: normal;	font-weight: normal;	line-height: 1.42857;	color: #222;	font-size: 12px;}
hr{border:none;border-bottom:1px solid #ccc;}
/* MAIN MENU*/
.checkURL{color: #FF0000;    display: inline-block;    padding: 2px 6px;font-weight:bold}
.menuHeader {background: none repeat scroll 0 0 #2b303a;height: 100%;position: relative;width: 280px;left:0;top:0px;z-index:9999;}
.header{background:#fff;height: 100%;   padding: 30px 30px 0 ;    position: relative;    width: auto;}
.sortTable{cursor:pointer;font-weight:bold}
.thead .fa{color:#ff4343;font-weight:bold}
.leftside{background:#2b303a}
/* CONTAINT */
.otherimg{height:50px}
.col1 a{color:#303641;font-size:15px}
#container{position:relative;width:100%;}
#main_content {background:#fff;	height: 100%;	position: relative;	width: auto;	padding-bottom: 150px;}
.subhead {	background:#303641;	border-radius:3px;	color: #0C192E;	height: 30px;	padding: 10px 0px;	position: relative;	width: 100%;}
.TopBannerTitle {	color: #444444;	font-size: 20px;	line-height: 100%;	margin: 0px 10px 10px 0;	position: relative;}
.btn {	border-radius:3px;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #BBBBBB #BBBBBB #A2A2A2;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	margin-top: 2px;
	text-align: center;
	vertical-align: middle;
	float: right;
	margin-right: 10px;
	min-width: 80px;
	padding: 3px 0;
	color:#303641;
}
.middle .current h2.title a,.current a{color:#C9535D !important}

.btn a {
	color: #C9535D
}
.btn:first-child {

}
.changepass{display:none}
#searchSubmit {background:#fff;}
.mainMiddle {padding:30px;}
.btn:focus {
	outline: thin dotted #333333;
	outline-offset: -2px;
}
.btn-success {
	background-color: #C9535D;
	background-image: linear-gradient(to bottom, #C9535D, #C9535D);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.iconHome{font-size:15pt}
.btn-success a{color: #FFFFFF;}
/* TABLE STYLE */
td {
	border-collapse: collapse;
	padding: 15px 3px;
	border-color: #D6D6D6
}
table {
	border-collapse: collapse;
	border-color: #D6D6D6;
}
table tr.thead {
	text-align: center;
}
table tr.thead td {
	background-color: #B9BBBD;
	font-weight: bold;
	font-size: 12px
}
table tr.tSearch td {
	padding: 5px 0px;
	background-color: #EEE;
	font-weight: bold;
}
table tr.tSearch td input { background-color: #fff;   display: block;   margin: 0 10px;   max-width: 94%;  padding: 5px 15px;}
table tr.tSearch td select{height: 27px;padding: 3px 5px 0;background:#fff;text-align:center;width:100px}
.fId{width:20px}
.fTitle{min-width:80%;}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.align-right{float:right;margin-top:8px}

table tr.tSearch td input.fTitle {
	width: 140px;
}
table tr.tSearch td input.fUrl {
	width: 100px;
}
table tr.tSearch td .fSatus {
	width: 80px;
}
table tr td.col1, table tr td.col2, table tr td.col6, table tr td.col7 {
	text-align: center
}
table tr td.col1 a {
	display: inline-block;
	width: 25px;
}
.listItem .col4 img {
}
.listItem .col4 span {
	width: 100px;
	height: 60px;
	overflow: hidden
}
.listItem {
	text-align: center
}
.listItem{border-radius:3px}
.iconPublish {
	width: 25px
}
.thumbnail {
	height: 50px;
}
/* FOOTER ADMIN */
.AdminMenu {
	padding-bottom:30px;clear:both;
}

.AdminMenu ul{}
.AdminMenu li {
	display:inline-block;
	margin-right: 5px;
	font-weight: bold;float:left;
}
.AdminMenu li:last-child {
	border: none;
}
.AdminMenu a {
	font-size: 12px;color:#373e4a;
}

.inbox {bottom:35px;height:auto}
.inbox .contact{background:#ccc}
.inbox .bill{background:#B8B8B8}
.contact a,.bill a {color:#c03}
.contact li, .inbox li{float:none}

/* MENU TOP */
.middle {padding: 5px 5px 5px 0;min-width: 50px;text-align:left;border-bottom:1px solid rgba(69, 74, 84, 0.4)}
.middle:last-child {border: none}
h2.title {
	padding: 8px 10px 8px 20px;
	color: #aaabae;
	
}
.rightContent h2.title {
	margin-bottom: 12px;
}
.new_info  h2.title a{color: #aaabae;
}
.new_info h2.title {
	cursor: pointer;
	color: #aaabae;
	font-size: 9pt;
	margin: 0px;
	padding: 0px 5px 0px 45px;
	line-height: 30px;
	overflow: hidden;
}
.middle .middle h2.title{color:#111;padding-left:60px} 
.new_info ul.content li a {
	padding:10px 5px 10px 60px;
	margin-top: 2px;
	display: block;
	font-size: 9pt;
	color:#111;
	text-decoration: none;
}
.middle .middle .new_info ul.content li a{padding-left:80px}
.new_info ul.content li a:hover {
	background: transparent url(../phn_imagedesign/tabnen.png) -400px top repeat-y;
	cursor: pointer;
	color: #999;
}
.middle ul.content {position: relative;
	width:280px;
	background-color: #eee;

}
.middle ul.content li {
border-top:1px solid rgba(69, 74, 84, 0.4);
}
ul, lo {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
ul.content {
	padding: 0px;
	margin: 0px;
}
.moduletable td{border-top:1px solid #ccc}
/* ADD PART */
/********design tab *******/
.listContent{position:relative;margin-top:40px}
.content-tab {
	display: block;
	width: 100%;
}
ul.jquery-tabs {
	position:relative;border-bottom: 1px solid rgba(69, 74, 84, 0.4);
}
ul.jquery-tabs li {
	display:inline-block;margin:0;padding:0;margin-bottom:-1px;
}
.clearfix{clear:both}
ul.jquery-tabs li a {
	padding: 5px 15px;border:none;
	display:block;border-top-left-radius:3px;border-top-right-radius:3px;
	text-align: right;border-top: 1px solid rgba(69, 74, 84, 0.4);border-left: 1px solid rgba(69, 74, 84, 0.4);border-right: 1px solid rgba(69, 74, 84, 0.4);margin-left:10px;
	color:#373e4a;position:relative;
}
ul.jquery-tabs li a.current  {
	color: #c9535d;background:#fff;
	font-weight: bold;
}
select{width:auto;}
.jquery-panes {
	text-align: justify;
	display: block;
	width: 100%;background:#fff;
	
}
.paneBlock {
	display: block;margin-top:30px
}

.paneBlock tr{vertical-align:top;border-bottom:1px solid #eee;}
.paneBlock tr:last-child{border-bottom:none}
.paneBlock td{};
/********design tab 1 *******/
.content-tab-1 {
	display: block;
	width: 100%;
}
ul.jquery-tabs-1 {
	list-style: none;
	display: block;
	padding: 10px 10px 0px 5px;
}
ul.jquery-tabs-1 li {
	display: inline;
}
ul.jquery-tabs-1 li a {
	display: inline-block;
	border: 1px solid #888887;
	background-color: #FFF;
	height: 20px;
	padding: 4px 10px 2px;
	margin-left: 3px;
	color:#222;
	border-bottom-color: #FFF;
	-moz-border-radius: 8px 8px 0px 0px;
}
ul.jquery-tabs-1 li a.current {
	border: 1px solid #c9535d;
	border-bottom-color: #FFF;
	color: #c9535d;
	font-weight: bold;
}
.jquery-panes-1 {
	text-align: justify;
	display: block;
	padding: 0px;
}
.paneBlock-1 {
	display: block;
}
.rightContent .title {
	display: none
}
.widthCheck {
	width: 25px
}
.check_cat1 {
	text-align: center
}
.uiContent {
	}
.fixClass {
	position: relative;
	float: left;
	height: 50px;
	left: 0;
	margin-left: -15px;
}
.t3 {
	position: relative;
	width: 600px
}
.t2 img{height:30px}
.rightMenu {

}
.rightMenu li {
	}
td.t1 {width: 80px;text-align: right;vertical-align: middle;}
td.t1 label{font-weight:bold;font-size:13px;margin-right:15px}
tr td.t2 {
	width: 5px;
}

textarea ,input,select{border:none;background:#f6f6f6;padding: 10px 15px;border-radius:4px;margin-left:4px}
option{margin-top:2px}
select{padding: 10px 15px 0; height:38px}
/* CSS ON OFF BUTTON */
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span {
	/* background: url(../images/switch.gif) repeat-x; */
	display: block;
	float: left;
	background-image: linear-gradient(to bottom, #ededed, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#ededed)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(to bottom, #ededed, #ededed); /* Firefox 3.6+ */
	background: -moz-linear-gradient(to bottom, #ededed, #ededed); /* IE 10 */
	background: -ms-linear-gradient(to bottom, #ededed, #ededed); /* Opera 11.10+ */
	background: -o-linear-gradient(to bottom, #ededed, #ededed);
}
.cb-enable {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px
}
.cb-disable {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px
}
.cb-enable span, .cb-disable span {
	line-height: 30px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}
.cb-enable span {
	background-position: left -90px;
	padding: 0 10px;
	cursor: pointer
}
.cb-disable span {
	background-position: right -180px;
	padding: 0 10px;
}
.cb-disable.selected {
	background-image: linear-gradient(to bottom, #A22C36, #C9535D);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A22C36), to(#C9535D)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(to bottom, #A22C36, #C9535D); /* Firefox 3.6+ */
	background: -moz-linear-gradient(to bottom, #A22C36, #C9535D); /* IE 10 */
	background: -ms-linear-gradient(to bottom, #A22C36, #C9535D); /* Opera 11.10+ */
	background: -o-linear-gradient(to bottom, #A22C36, #C9535D);
}
.cb-disable.selected span {
	background-position: right -210px;
	color: #fff;
}
.cb-enable.selected {
	background-image: linear-gradient(to bottom, #A22C36, #C9535D);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A22C36), to(#C9535D)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(to bottom, #A22C36, #C9535D); /* Firefox 3.6+ */
	background: -moz-linear-gradient(to bottom, #A22C36, #C9535D); /* IE 10 */
	background: -ms-linear-gradient(to bottom, #A22C36, #C9535D); /* Opera 11.10+ */
	background: -o-linear-gradient(to bottom, #A22C36, #C9535D);
}
.cb-enable.selected span {
	background-position: left -150px;
	color: #fff;
}
.switch label {
	cursor: pointer;
}
/* PHAN TRANG */
.pageIndex {
	text-align: center;
	width:200px;left:50%;margin-left:-10px;position:relative;
}
.pageIndex ul li {
	display: inline-block;
	list-style-type: none;
}
.pageIndex a,.pageIndex strong {
	font-weight: bold;
	padding: 4px;
	display: block;
	font-size: 11pt;
	float:left;
	color:#222;
}
.pageIndex a.actived {
	background-color: #EEE;
}
/* BOX PORTAL */
.tableBox {
	text-align: left;
	border: 1px solid #cecece;
	 width: 100%;
}
.tableBox td, .tableBox th {
	padding: 5px;
}
.tableBox th{background:#bdbec0;color:#fff}
.detailPortal td{background:#e7e8ea;color:#111}
.dateBox{width:70px}
.columb1{background:#818286;color:#fff;text-transform:uppercase;font-weight:bold}
.columb3{background:#bdbec0;text-align:center;text-transform:uppercase;font-weight:bold;color:#fff;width: 40px;}
.columbAdd{background:#C9535D;text-align:center;padding: 5px 0}
.columbAdd a{color:#fff;font-weight:bold}
.homeMainContain{padding-top:80px}
.changetitle{border:none;background:#eee;padding:10px 15px;max-width:94%;min-width:80%;}
.changesort, .changequantity{width:50px;text-align:center;border:none;background:#E2E2E2;padding:3px 5px}
.changeprice{border:none;background:#E2E2E2;padding:3px 5px;max-width:100px;text-align:center}	
.iconSetup{cursor:pointer;font-size:15pt}

/* Columb table */
.colCheck, .colUpdate, .colId, .colTitle, .colImg, .colSort, .colStatus,.c1,.c2,.c3,.c4,.c5,.c6{
text-align:center	
}
.colCheck{width:10px}
.colUpdate{width:65px}
.colId{width:30px}
.colStatus{width:35px}
.colSort{width:75px}
.colImg{width:100px}
.colCat{width:160px}
.colDate{width:80px}
.colDateEdit{width:75px}
.c1{width:20px}
.c2{width:100px}
.c4{width:100px}
.c4 img{height:30px}
.c5{width:100px}
.c6{width:50px}

.titleResult{text-align:left;padding-left:5px;line-height:15px;}
.resultCheckpass{float:left;color:#F00}
.error{margin:20px 0;font-weight:bold;color:#F00}
.changePass{padding:5px;background:#C9535D;width:130px}

.Box_form{position:fixed;border:#1px solid #ccc;background:#eee;border-radius:4px;padding:20px;left:50%;width:760px;margin-left:-380px;z-index:10;top:20%;display:none}
.div_blur{width:100%;height:100%;position:fixed;background:#000;opacity:0.8;z-index:9;top:0;left:0;display:none}
.btn2{padding:5px 10px;border-radius:4px;text-transform:uppercase;font-weight:bold;cursor:pointer}
.Box_form input{padding:5px }
.Box_form td{vertical-align:middle}

.tableAttribute{border:1px solid #ccc;position:relative;display:block}
.buttonBar{background:#eee;padding-bottom:2px;}
.contentAttribute{padding:0px 10px 10px 10px}
.AttrBox{background:#E7EFEF;margin-top:30px;padding:20px;position:relative}
.AttrBox input{width:100%}
.AttrBox select{margin:0;width:100px}
.AttrBox table{border-collapse:collapse}
.AttrBox table tr{position:relative;}
.AttrBox table td,.AttrBox table th{text-align:left;}
.AttrBox .smalltable{margin-top:10px}
#buttonRow{border: medium none;  border-radius: 0;  float: right;  font-size: 9pt;  padding: 2px;}
.AttrBox .smalltable th{background:#aaa;color:#fff}
.AttrBox .smalltable th,.AttrBox .smalltable td{border:1px solid #999;padding:5px 3px}
.iconType{width:30px;position:absolute;right:-8px;top:-10px;cursor:pointer}
.clearmenu{border:none;background:none;box-shadow:none;padding:5px 0}
.funSave{border:none;padding:0;color:#fff;text-transform:capitalize;background:none}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

.input-group-addon {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

#addModuleButton{float:none;margin-left:50px}
.moduletable tr{vertical-align:middle}
.moduletable{margin-top:50px;}
.moduletable td{padding:5px 3px;border-right:1px solid #ccc;border-right-style:dashed}
.moduletable td:last-child{border-right:none}
td.t1 .moduletable  label {margin:0}
.listContent .fullContent .img{width:100px;height:100px;padding:10px;text-align:center;background:#eee;color:#111;border-radius:60px;font-size:30pt;margin:auto} 
.listContent .fullContent .img .fa{margin-top:30px;color:#fff}
.listContent .fullContent .box{margin-right:40px;text-align:center;float:left;position:relative;height:145px}
.listContent .fullContent{width:100%;text-align:center}
.listContent .fullContent .box .img .number{color:#fff; font-size: 55px; margin-top: -62px;}

.listContent .fullContent .img .fa{}

.listContent .fullContent .box .img:hover .number{
 -webkit-transform: scale(1) ;
   -moz-transform: scale(1) ;
   -o-transform: scale(1) ;
   -ms-transform: scale(1) ;
   transform: scale(1) ;
   
      -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.2s 0.1s ease-in-out;
   opacity:1;
   }
.listContent .fullContent .box:hover{cursor:pointer}
.listContent .fullContent .box .img:hover{background:#ccc !important;  -webkit-transition: all 0.4s 0.1s ease-in-out;
   -moz-transition: all 0.4s 0.1s ease-in-out;
   -o-transition: all 0.4s 0.1s ease-in-out;
   -ms-transition: all 0.4s 0.1s ease-in-out;
   transition: all 0.4s 0.1s ease-in-out;}
.listContent .fullContent .box .img .number{
	  opacity:0;
-webkit-transform: scale(2) ;
   -moz-transform: scale(2) ;
   -o-transform: scale(2) ;
   -ms-transform: scale(2) ;
   transform: scale(2) ;
   
      -webkit-transition: all 0.4s 0.1s ease-in-out;
   -moz-transition: all 0.4s 0.1s ease-in-out;
   -o-transition: all 0.4s 0.1s ease-in-out;
   -ms-transition: all 0.4s 0.1s ease-in-out;
   transition: all 0.4s 0.1s ease-in-out;}

.listContent .fullContent .box .img:hover .fa{
-webkit-transform: scale(2) ;
   -moz-transform: scale(2) ;
   -o-transform: scale(2) ;
   -ms-transform: scale(2) ;
   transform: scale(2) ;
   
      -webkit-transition: all 0.2s 0.1s ease-in-out;
   -moz-transition: all 0.2s 0.1s ease-in-out;
   -o-transition: all 0.2s 0.1s ease-in-out;
   -ms-transition: all 0.2s 0.1s ease-in-out;
   transition: all 0.2s 0.1s ease-in-out;
   opacity:0;
}

.listContent .fullContent .box .img .fa{
	  opacity:1;
 -webkit-transform: scale(1) ;
   -moz-transform: scale(1) ;
   -o-transform: scale(1) ;
   -ms-transform: scale(1) ;
   transform: scale(1) ;
   
      -webkit-transition: all 0.4s 0.1s ease-in-out;
   -moz-transition: all 0.4s 0.1s ease-in-out;
   -o-transition: all 0.4s 0.1s ease-in-out;
   -ms-transition: all 0.4s 0.1s ease-in-out;
   transition: all 0.4s 0.1s ease-in-out;}   
.listContent .fullContent{padding-bottom:20px;border-bottom:1px solid #ccc;position:relative;overflow:hidden}
.listContent .leftContent{width:600px;margin-top:20px;float:left}
.listContent .leftContent .ctBox,.listContent .rightContent .ctBox{border:1px solid #65cea7;margin-bottom:10px}
.listContent .leftContent .ctBox header,.listContent .rightContent .ctBox header{font-size:15px;font-weight:600;color:#fff;text-transform:uppercase;border-bottom:1px solid #65cea7;padding:10px;background:#65cea7}
.listContent .leftContent .ctBox p,.listContent .rightContent .ctBox p{padding:5px 0;border-bottom:1px dashed #65cea7;}
.listContent .leftContent .ctBox .content,.listContent .rightContent .ctBox .content{padding:10px}
.listContent .leftContent .ctBox .content a,.listContent .rightContent .ctBox .content a{color:#555}
.listContent .leftContent .ctBox .button,.listContent .rightContent .ctBox .button{text-align:right;margin-top:10px}
.listContent .leftContent .ctBox .button a, .listContent .rightContent .ctBox .button a{background:#65cea7;padding:5px 10px;color:#fff;border-radius:5px;margin-left:5px;}

.listContent .leftContent .project header{border-bottom:1px solid #fc8675;background:#fc8675;}
.listContent .leftContent .project .button a{background:#fc8675;}
.listContent .leftContent .project p{border-bottom:1px dashed #fc8675;}
.listContent .leftContent .project{border:1px solid #fc8675;}

.listContent .leftContent .team header{border-bottom:1px solid #0080FF;background:#0080FF;}
.listContent .leftContent .team .button a{background:#0080FF;}
.listContent .leftContent .team p{border-bottom:1px dashed #0080FF;}
.listContent .leftContent .team{border:1px solid #0080FF;}

.listContent .rightContent{float:left;width:300px;margin-top:20px;margin-left:20px}
.listContent .rightContent .lienhe header{border-bottom:1px solid #f5c218;background:#f5c218;}
.listContent .rightContent .lienhe .button a{background:#f5c218;}
.listContent .rightContent .lienhe td{border-bottom:1px dashed #f5c218;}
.listContent .rightContent .lienhe{border:1px solid #f5c218;}

.formAnalytics input{width:65px;}
.formAnalytics {position:relative;text-align:right;margin-top:10px}
.formAnalytics .go{cursor:pointer;background:#333;color:#fff;font-weight:bold}
.report{width:900px;}