
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:1px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}
/* CSS */
/* Feature section in ZoomEngine page */
.zoom-section {	
	clear:both;		
}
.zoom-section { 
	display:inline;
	clear:both;
}
/* Feature descriptions in ZoomEngine page */
.zoom-desc {
	float:left;
	margin-bottom:20px;
	text-align: center;
    width: 60px;
}

.zoom-small-image {
	margin-left:40px;
	float:left;
	margin-bottom:20px;
}
.zoom-tiny-image {
	
	margin:0px;
	
}
.zoom-tiny-image:hover {
		
}

